@page "/commands"

<h3>Benutzerdefinierte Befehle</h3>
<br />
<h5>Hier kannst du deine eigenen Befehle zusammenstellen</h5>
<hr />
<div>    
    <div class="container-fluid">
        
    </div>
</div>
@code {

}
