@page "/newbot"
@using Shares.Model;
@using Services;
@inject IBotService BotService;
@inject NavigationManager NavigationManager;

<h3>NewBot</h3>
@*//TODO: margins*@
<EditForm Model="BotSetting" OnValidSubmit="@Submit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <label class="font-weight-bold">Channel</label>
                <input class="form-control" @bind="BotSetting.Channel">
            </div>
            <div class="col-sm-2">
                <label class="font-weight-bold">Twitch Username</label>
                <input class="form-control" @bind="BotSetting.TwitchUsername">
            </div>
            <div class="col-sm-3">
                <label class="font-weight-bold">Twitch Auth Token</label>
                <input class="form-control" @bind="BotSetting.TwitchOAuth">
            </div>
            <div class="col-sm-4">
                <label class="font-weight-bold">Twitch Client Id(dev.twitch.tv/console/apps)</label>
                <input class="form-control" @bind-value="@BotSetting.TwitchClientId">
            </div>
        </div>
        <br />
        @*<div class="row">
            <div class="col-sm-2">
                <label class="font-weight-bold">Erlaubte Nachrichten im Zeitraum</label>
                <input class="form-control" @bind="BotSetting.MessagesAllowedInPeriod">
                <p class="float-right font-weight-bold">Stück</p>
            </div>
            <div class="col-sm-2">
                <label class="font-weight-bold">Zeitraum</label>
                <input class="form-control" @bind="BotSetting.ThrottlingPeriod">
                <p class="float-right font-weight-bold">Sekunden</p>
            </div>
        </div>*@
        <hr />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <label class="font-weight-bold">Nachricht bei Sub</label>
                <input class="form-control" placeholder="Danke für dein Sub!" @bind="BotSetting.SubMessage">
            </div>
            <div class="col-sm-4">
                <label class="font-weight-bold">Nachricht bei @@Message</label>
                <input class="form-control" placeholder="Mich gibt's gar nicht!" @bind="BotSetting.ChatDMResponse">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <label class="font-weight-bold">Nachricht bei Channel Beitritt</label>
                <input class="form-control" placeholder="Hallo! Ich bin der Bot von diesem Channel!" @bind="BotSetting.ChannelJoinMessage">
            </div>
            <div class="col-sm-4">
                <label class="font-weight-bold">Nachricht bei Channel Verlassen</label>
                <input class="form-control" placeholder="Bravo six, going dark!" @bind="BotSetting.ChannelLeaveMessage">
            </div>
        </div>
    </div>
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <input type="submit" class="form-control btn btn-primary" value="Speichern" />
            </div>
            <div class="col-sm">
                <input type="button" class="form-control btn btn-secondary" @onclick="@Cancel" value="Abbrechen" />
            </div>
        </div>
    </div>

</EditForm>

@code {

    public BotSettingModel BotSetting { get; set; }


    protected override void OnInitialized()
    {       
        BotSetting = new BotSettingModel();
    }

    private void Submit()
    {
        BotService.CreateBot(BotSetting);
        BotService.SaveBotsSettings();
        NavigationManager.NavigateTo("/bots");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/bots");
    }
}
