@inject IJSRuntime js

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Solid Twitch Bot Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <button class="btn btn-danger pointer w-100 float-left text-left pb-2 pt-2" @onclick="StopServer">
                <span class="oi oi-delete pt-1" aria-hidden="true"></span> Stop Server
            </button>         
        </li>        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/dashboard" Match="NavLinkMatch.All">
                <span class="oi oi-home pt-1" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/bots" Match="NavLinkMatch.All">
                <span class="oi oi-plus pt-1" aria-hidden="true"></span> Bots
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/commands" Match="NavLinkMatch.All">
                <span class="oi oi-terminal pt-1" aria-hidden="true"></span> Befehle
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/obs" Match="NavLinkMatch.All">
                <span class="oi oi-ellipses pt-1" aria-hidden="true"></span> OBS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/settings" Match="NavLinkMatch.All">
                <span class="oi oi-ellipses pt-1" aria-hidden="true"></span> Einstellungen
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void StopServer()
    {
        js.InvokeVoidAsync("window.close");
        Environment.Exit(0);
    }
}
